.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 15px 0;
	width: $size__site-main;
}

.site-main {
	background-color: $color__background-body;
	border: solid 1px $color__background-hr;
	border-radius: 3px;
	padding: 15px;
}

@media screen and (min-width: 37.5em) {

	.site-main {
		margin: 0 $size__site-sidebar 0 0;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		padding: 0 0 0 15px;
		width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
