.site-header {
  background-color: #173e7d;
  background-image: -moz-linear-gradient(bottom, #001241 0%, #173e7d 100%);
  background-image: -ms-linear-gradient(bottom, #001241 0%, #173e7d 100%);
  background-image: -o-linear-gradient(bottom, #001241 0%, #173e7d 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #001241),color-stop(1,#173e7d));
  background-image: -webkit-linear-gradient(bottom, #001241 0%, #173e7d 100%);
  background-image: linear-gradient(to bottom, #001241 0%, #173e7d 100%);
  border-bottom: solid 5px #001241;
  margin-bottom: 15px;
  min-height: 80px;
  padding: 5px 0;

  .site-branding {
    float: left;

    a {
      display: block;
      line-height: 0;
    }
  }

  .site-logo {
    color: white;
    line-height: 64px;
    width: 64px;
  }

  .site-title {
    display: none;
  }
}


@media screen and (min-width: 37.5em) {
  .site-header {
    padding: 15px 0 5px 0;

    .site-logo {
      width: 114px;
    }
  }
}
