.site-header {
  background-color: #173e7d;
  background-image: -moz-linear-gradient(bottom, #001241 0%, #173e7d 50%);
  background-image: -ms-linear-gradient(bottom, #001241 0%, #173e7d 50%);
  background-image: -o-linear-gradient(bottom, #001241 0%, #173e7d 50%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #001241),color-stop(1,#173e7d));
  background-image: -webkit-linear-gradient(bottom, #001241 0%, #173e7d 50%);
  background-image: linear-gradient(to bottom, #001241 0%, #173e7d 50%);
  border-bottom: solid 5px #001241;
  margin-bottom: 15px;
  padding: 5px 0;

  .container > .site-branding {
    float: left;
  }

  .container > .site-branding > a > .site-logo {
    height: 64px;
    width: 64px;
  }

  .container > .site-branding > a > .site-title {
    display: none;
  }
}
