.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				color: $color__background-body;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		color: $color__background-body;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	border-radius: 3px;
	border: none;
	color: white;
	cursor: pointer;
	height: 48px;
	margin: 8px 0;
	position: absolute;
	width: 48px;
  right: 15px;

	> .hidden {
		display: none;
	}

	&::before {
		content: '\f0c9';
		font-family: FontAwesome;
		font-size: 22px;
	}
}

.main-navigation.toggled {
	border: none;

	ul {
		background-color: $color__nfc-primary;
		bottom: 0;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		height: 100%;
		left: 0;
		padding-left: 3em;
		padding: 15px;
		position: fixed;
		width: 100%;
	  top: 79px;

		li {
			padding: 10px 0;
		}
	}

	.menu-toggle {
		background-color: $color__nfc-darkblue;
	}

	.menu-toggle::before {
		content: '\f00d';
		font-family: FontAwesome;
	}
}

@media screen and (min-width: 62em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		float: left;
    font-size: 1.1em;
    padding-left: 1em;
    margin-top: 3.8em;
	}

	.main-navigation ul {
		display: flex;
	}

	.main-navigation ul li {
    background: transparent url('//cdn.nacionalfc.com.br/themes/nfc_menu_separator.png') no-repeat scroll right 50%;

		&:last-child {
			background: none;
		}
	}

	.main-navigation ul li a {
			padding: 12px 15px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
