.main-navigation {
	float: right;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				color: $color__background-body;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		color: $color__background-body;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 48px;
	margin: 8px 0;
	position: relative;
	width: 48px;

	> .hidden {
		display: none;
	}

	&::before {
		content: '\f0c9';
		font-family: FontAwesome;
		font-size: 22px;
	}
}

.main-navigation.toggled {
	border: none;

	ul {
		background-color: $color__nfc-primary;
		bottom: 0;
		display: inline-block;
		left: 0;
		padding: 15px;
		padding-left: 3em;
		position: absolute;
	  top: 79px;
		width: 100%;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		height: 100%;

		li {
			padding: 10px 0;
		}
	}

	.menu-toggle {
		background-color: $color__nfc-darkblue;
	}

	.menu-toggle::before {
		content: '\f00d';
		font-family: FontAwesome;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		clear: both;
		float: left;

		ul {
			display: block;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
